- name: Install python package dependencies
  ansible.builtin.pip:
    name: python-jenkins
    executable: pip3.9

#- name: move from local to remote
#  ansible.builtin.template:
#    src: jobs/jenkins-config.xml
#    dest: /tmp/{{item}}.xml
#  loop:
#    - frontend
#    - backend

- name: move from local to remote
  ansible.builtin.template:
    src: jobs/mpipeline-config.xml
    dest: /tmp/{{item}}.xml
  loop:
    - frontend
    - backend

- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', '/tmp/{{item}}.xml') }}"
    name: "{{item}}"
    password: admin123
    url: http://54.161.97.53:8080/
    user: admin
  loop:
    - frontend
    - backend