- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/jobs/jenkins-config.xml') }}"
    name: test
    password: admin123
    url: http://52.91.35.234:8080/
    user: admin