- name: set jenkins name
  ansible.builtin.shell: set-prompt jenkins

- name: check jenkins directory
  ansible.builtin.file:
    path: /etc/yum.repos.d/jenkins.repo
  register: jenkins_repo_dir
  ignore_errors: true

#- name: jenkins directory exists or not
#  ansible.builtin.debug:
#    msg: "{{ jenkins_repo_dir }}"

- name: make a jenkins directory
  ansible.builtin.file:
    path: /etc/yum.repos.d/jenkins.repo
    state: directory
  when: jenkins_repo_dir.failed is true


- name: Check if Jenkins repo content exists
  ansible.builtin.shell: "grep 'Jenkins' /etc/yum.repos.d/jenkins.repo"
  register: grep_result
  ignore_errors: yes

- name: copy jenkins repo file
  ansible.builtin.template:
    src: jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo
  when: grep_result.failed is true

- name: Install Java and jenkins
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - java-17-openjdk
    - fontconfig
    - jenkins

- name: start jenkins service
  ansible.builtin.systemd_service:
    name: jenkins
    state: restarted
    daemon_reload: true
    enabled: true


- name: copy Init scripts
  ansible.builtin.file:
    path: /var/lib/jenkins/init.groovy.d/{{ item }}
    state: present
  loop:
    - 01-wizard.groovy
    - 02-admin-user.groovy
    - 03-plugins.groovy






