#- name: Include jenkins setup
#  ansible.builtin.include_tasks:
#    file: jenkins-setup.yml
#
#
#- name: Include jenkins job
#  ansible.builtin.include_tasks:
#    file: jenkins-job.yml

- name: set jenkins name
  ansible.builtin.shell: set-prompt jenkins

- name: check jenkins directory
  ansible.builtin.file:
    path: /etc/yum.repos.d/jenkins.repo
  register: jenkins_repo_dir
  ignore_errors: true

- name: make a jenkins directory
  ansible.builtin.file:
    path: /etc/yum.repos.d
    state: directory
  when: jenkins_repo_dir.failed is true

- name: copy jenkins repo file
  ansible.builtin.template:
    src: jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo


- name: Install Java and jenkins
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - java-17-openjdk
    - fontconfig
    - jenkins

- name: make a groovy directory
  ansible.builtin.file:
    path: /var/lib/jenkins/init.groovy.d
    state: directory

- name: copy Init scripts
  ansible.builtin.template:
    src: "{{ item }}"
    dest: /var/lib/jenkins/init.groovy.d/{{ item }}
  loop:
    - 01-wizard.groovy
    - 02-admin-user.groovy
    - 03-plugins.groovy

- name: start jenkins service
  ansible.builtin.systemd_service:
    name: jenkins
    state: restarted
    daemon_reload: true
    enabled: true

- name: Install python package dependencies
  ansible.builtin.pip:
    name: python-jenkins
    executable: pip3.9

- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/jobs/jenkins-config.xml') }}"
    name: test
    password: admin123
    url: http://204.236.247.250:8080/
    user: admin



