vault_token: "{{ lookup('ansible.builtin.env', 'vault_token') }}"
secrets: "{{ lookup('hashi_vault', 'secret=credentials/data/jenkins token={{vault_token}} url=https://54.221.54.164:8200  validate_certs=False')}}"
jenkins_setup: false
jenkins_job: false

